:root {
  /* spacing */
  --base-unit: 0.6rem;
  --base-indent: calc(var(--base-unit) * 2);
  --base-space-ratio: 0.125;

  --space-xs: calc(var(--base-space-ratio) * var(--base-unit));

  /* font */
  --base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
  --base-font: 1em;
  --base-font-size: 1rem;
  --text-scale-ratio: 1.2;

  --text-xs: calc((1rem / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));

  /* Color styles */
  --base-light-color: #fff;
  --base-light-gray-color: #f4f4f4;
  --base-gray-color: #999;
  --base-dark-color: #333;
  --base-dark-color-rgba: 51, 51, 51;
  --base-accent-color: #c40404;
  --base-accent-dark-color: #a00;
  --base-selection-color: #51d0db;
  --base-link-color: #007aff;
  --base-link-accent-color: #0856ab;
  --base-on-success-color: #78b542;

  /* Background */
  --base-bg-focus: rgba(0, 0, 0, 0.33);

  /* Width */
  --max-width-layout: 1600px;
}
